#root {
  background: linear-gradient(135deg, #1a1a2e, #3b0b3b);
  font-family: "Metrophobic";
}

html, body {
  background: linear-gradient(135deg, #1a1a2e, #3b0b3b);
  font-family: "Metrophobic";
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
}